<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

     <context:annotation-config/>
    <context:component-scan base-package="Controller"></context:component-scan>
    <context:component-scan base-package="Bean"></context:component-scan>
    <context:component-scan base-package="Service"></context:component-scan>
    
    <bean id="createWebdriver" class="Service.CreateWebdriver"></bean>
    <bean id="setPathDriver" class="Service.SetPathDriver"></bean>
    <bean id="codenvy" class="Service.Codenvy"></bean>
    <bean id="systemConfig" class="Bean.SystemConfig"></bean>
</beans>